<div id="frameBar">
  <div class="dragbar"></div>
  <div class="frame hide">
    <div id="minimize" class="button icon-minimize fMb"></div>
    <div id="maximize" class="button icon-maximize fRb"></div>
    <div id="close" class="button icon-close fCb"></div>
  </div>
</div>