<div id="loginContainer" style="display: none;">
    <div class="connect-bg">
        <div class="connect">
            <div class="connect-close icon-close"></div>
            <div class="title icon-account-add">Ajouter un compte</div>
            <div class="description">Pour jouer, vous devez posséder un compte Mojang possédant le jeu
                Minecraft : Java Edition.</div>
            <div class="name">Adresse mail</div>
            <input type="text" id="email" class="textbox" />
            <div class="name">Mot de passe</div>
            <input type="password" id="pass" class="textbox" />
            <div class="links">
                <a href="https://minecraft.net/password/forgot/" id="forgot" class="forgot">Mot de passe oublié ?</a>
                <a href="https://sisu.xboxlive.com/connect/XboxLive/?state=signup&signup=1&cobrandId=8058f65d-ce06-4c30-9559-473c9275a65d&tid=896928775&ru=https://www.minecraft.net/login&aid=1142970254" id="buy" class="buy">Acheter Minecraft</a>
            </div>
            <input type="button" class="button" id="connect" value="CONNEXION">
        </div>
    </div>
    <script src="./assets/js/scripts/login.js"></script>
</div>