<div id="popupContainer" style="display: none;" class="popup-bg">
	<div class="popup">
		<div class="title"></div>
		<div class="information"></div>
		<div class="buttons"></div>
	</div>
	<script src="./assets/js/scripts/popup.js"></script>
</div>