<div id="serverSelectorContainer" class="serverSelector-bg" style="display: none;">
	<div class="serverSelector">
		<div class="serverSelector-close icon-close"></div>
		<div class="serverSelector-content">
			<div class="title">Liste des serveurs</div>
			<section>
			</section>
		</div>
	</div>
	<script src="./assets/js/scripts/serverSelector.js"></script>
</div>