<div id="sidebarContainer" class="sidebar">
	<div class="account-side" aria-label="Non connecté">
		<img class="account-side-img" src="https://mc-heads.net/avatar/c06f89064c8a49119c29ea1dbd1aab82/" />
		<div id="isConnected" class="account-side-connected red"></div>
	</div>
	<div class="box panels">
		<div id="landing" aria-label="Accueil" class="button icon-home active"></div>
		<div id="settings" aria-label="Paramètres" class="button icon-settings close"></div>
		<div id="stg" class="category">
			<div id="account" aria-label="Comptes" class="button icon-account"></div>
			<div id="launcher" aria-label="Launcher" class="button icon-launcher"></div>
			<div id="start" aria-label="Démarrage" class="button icon-start"></div>
			<div id="mods" aria-label="Modpack" class="button icon-mods"></div>
			<div id="update" aria-label="Mise à jour" class="button icon-update"></div>
		</div>
	</div>
	<div class="box play">
		<div aria-label="Jouer" class="button icon-play" id="play-button"></div>
	</div>

	<script src="./assets/js/scripts/sidebar.js"></script>
</div>