<div id="mods" style="display: none;">
	<div class="panel-title">Modpack</div>
	<p class="description">Gérer les éléments des modpacks</p>

	<div class="server-box">
		<div class="header">
			<div class="icon"></div>
			<div class="title"></div>
			<div class="description"></div>
			<div class="switch icon-switchServer"></div>
		</div>
	</div>

	<div class="setting-box">
		<div class="header">
			<div class="icon icon-mods"></div>
			<div class="title">Mods requis</div>
			<div class="description">Permet de voir la liste des mods nécessaire au fonctionnement du modpack.</div>
			<div class="expand icon-expand"></div>
		</div>
		<div class="content">
			<div class="information">

			</div>
			<div class="mods" id="listModsReq">
				
			</div>
		</div>
	</div>

	<div class="setting-box">
		<div class="header">
			<div class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
			  	</svg>
			  </div>
			<div class="title">Mods optionnels</div>
			<div class="description">Permet d'activer ou non certains mods du modpack.</div>
			<div class="expand icon-expand"></div>
		</div>
		<div class="content">
			<div class="information">

			</div>
			<div class="mods" id="listModsOpt">
				
			</div>
		</div>
	</div>

	<div class="setting-box">
		<div class="header">
			<div class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
				</svg>				  
			</div>
			<div class="title">Shader-packs</div>
			<div class="description">Ajouter des shaders au jeu.</div>
			<div class="expand icon-expand"></div>
		</div>
		<div class="content">
			<div class="information">

			</div>
		</div>
	</div>

	<div class="setting-box" id="memory">
		<div class="header">
			<div class="icon icon-memory"></div>
			<div class="title">Mémoire RAM</div>
			<div class="description">Gérer la quantité de RAM que va allouer votre système à Minecraft.</div>
			<div class="expand icon-expand"></div>
		</div>
		<div class="content">
			<div class="information">
				Plus cette quantité est importante, plus votre jeu sera stable et aura de bonnes performances.<br>
				Toutefois, même si vous avez beaucoup de RAM disponible sur votre ordinateur, il est inutile d'en
				allouer une très grande quantité.<br><br>
				<b>- RAM Maximale :</b> Indique la quantité totale de RAM allouée à Minecraft. Il est recommandé de ne
				pas dépasser 50% de la quantité totale de RAM présente sur votre PC afin qu'il puisse fonctionner
				correctement. Si votre ordinateur a plus de 8Go de RAM, nous vous recommandons d'allouer 6Go. Si votre
				ordinateur a 4Go ou moins, n'allouez pas plus de 3Go.<br><br>
				<b>- RAM Minimale :</b> Indique la quantité minimale de RAM allouée au démarrage de Minecraft. Il est
				recommandé de ne pas mettre plus de 3Go pour cette valeur. La valeur typique est de 1Go.
			</div>
			<div id="memory-slider" min="0.5" max="8" step="0.5" class="slider">
				<div class="slider-touch-left">
					<span value="0 Go"></span>
				</div>
				<div class="slider-touch-right">
					<span value="0 Go"></span>
				</div>
				<div class="slider-line">
					<span></span>
				</div>
			</div>
			<div class="ram-info">
				<b>RAM totale sur votre ordinateur :</b> <span id="total-ram">0 Go</span><br>
				<b>RAM disponible :</b> <span id="free-ram">0 Go</span>
			</div>
		</div>
	</div>

	<div class="setting-box">
		<div class="header">
			<div class="icon icon-java"></div>
			<div class="title">Exécutable Java</div>
			<div class="description">Indiquer au jeu l'emplacement de l'exécutable Java.</div>
			<div class="expand icon-expand"></div>
		</div>
		<div class="content">
			<div class="information">
				L'emplacement est vérifié au lancement du jeu.
				Java doit être java 8 ou supérieur en 64 bit.<br/>
				Le chemin d'accès doit terminer par <b>bin\javaw.exe</b>
			</div>
			<input type="text" value="" class="path" id="path" disabled />
			<input type="button" value="Changer" class="path-button" />
			<input type="file" id="path-file" class="fake" accept="application/octet-stream" />
		</div>
	</div>

	<div class="setting-box">
		<div class="header">
			<div class="icon icon-java"></div>
			<div class="title">Paramètres de Java</div>
			<div class="description">Spécifier plus de paramètres à Java lors de son execution (avancé)</div>
			<div class="expand icon-expand"></div>
		</div>
		<div class="content">
			<div class="information">
				
			</div>
			<input type="text" value="" class="path" id="additional-jvm" disabled />
			<input type="button" value="Changer" class="path-button" />
		</div>
	</div>

	<script src="./assets/js/scripts/panels/mods.js"></script>
</div>