<div id="server" style="display: none;">
	<img class="home-img" src="./assets/images/backgrounds/0.jpg" />
	<div class="img-mask"></div>
	<div class="elements">
		<div class="body">
			<div class="body-header">
				<div class="logo"><img
						src="https://www.logolynx.com/images/logolynx/90/90dbdeb9c28901a9c1c7dbb25262197a.png" /></div>
				<div class="home-button">
					<div class="play icon-play" id="play">JOUER</div>
					<div class="switchServer icon-switchServer" id="switchServer"></div>
					<div style="display: none;" class="warning icon-warning" id="warningMessage"><span>Le jeu risque de
							rencontrer des problèmes</span></div>
				</div>
			</div>
			<div class="body-inner">
				<div class="body-content">
					<div class="body-title">Actualités</div>
					<div class="news">
					</div>
				</div>
				<div class="body-sidebar">
					<div class="body-title">État du serveur</div>
					<div class="server">
						<img class="server-img" src="./assets/images/icons/error.png" />
						<div class="server-text">
							<div class="name"></div>
							<div class="desc"><span class="red">Fermé</span> <span id="ping"></span></div>
						</div>
						<div class="etat-text">
							<div class="text">0</div>
							<div class="online off"></div>
						</div>
						<a href="https://stats.uptimerobot.com/vxJBkHWYR0/789160733"
							class="status icon-external-link">Voir la page de statut des serveurs</a>
					</div>
					<div class="body-title">État de Minecraft</div>
					<div class="mojang">
						<span class="mojang-img">
							<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 605.29467 509.24409">
								<path
									d="M585.29542.00002h-565.204A19.99924 19.99924 0 00.09218 19.99537l-.09221 469.2456a19.99925 19.99925 0 0019.99925 20.00314h565.29617a19.99925 19.99925 0 0019.99925-19.99924V19.99927A19.99925 19.99925 0 00585.29542.00002z"
									fill="#ef323d" />
								<g fill="#fff">
									<path
										d="M163.51936 419.06655h-44.10028a2.02519 2.02519 0 00-2.02525 2.02526v10.11148a2.02519 2.02519 0 002.02525 2.02525h12.102a2.02524 2.02524 0 012.02525 2.02526v35.986a2.02528 2.02528 0 002.02526 2.02525h11.79575a2.02524 2.02524 0 002.02526-2.02525v-35.986a2.02528 2.02528 0 012.02525-2.02526h12.10151a2.02519 2.02519 0 002.02525-2.02525v-10.11148a2.02519 2.02519 0 00-2.02525-2.02526zM309.37454 419.06655h-16.88269a2.02519 2.02519 0 00-2.02525 2.02526v50.148a2.02523 2.02523 0 002.02525 2.02525h16.80648c19.13748 0 31.07947-10.41112 31.07947-27.25239 0-16.53499-11.48228-26.94612-31.00326-26.94612zm-.78624 40.34274h-.74255a2.04191 2.04191 0 01-2.05821-2.02525v-22.43649a2.04191 2.04191 0 012.05821-2.02525h.89845c10.26924 0 15.48158 3.981 15.48158 13.09034 0 9.41617-5.21234 13.39665-15.63748 13.39665z" />
									<rect x="379.84998" y="419.06656" width="16.20941" height="54.19848" rx="2.02525" />
									<path
										d="M248.94807 419.06655h-11.56621a2.02523 2.02523 0 00-2.02525 2.02526v26.91134c0 9.03317-2.44967 12.17154-8.49681 12.17154-6.0477 0-8.49731-3.13837-8.49731-12.17154v-26.91134a2.02523 2.02523 0 00-2.02525-2.02526h-11.56621a2.02523 2.02523 0 00-2.02525 2.02526v28.44215c0 16.61173 7.42565 25.18573 24.114 25.18573 16.22871 0 24.11352-9.03316 24.11352-25.26243v-28.36545a2.02523 2.02523 0 00-2.02523-2.02526zM67.60024 440.5008c-1.67446-.7175-6.27831-2.62854-6.90928-2.83348-4.47633-1.45388-4.68824-3.58228-3.94423-5.63113s3.75824-2.95912 6.63835-1.78833c1.54614.62853 5.38255 4.10741 5.80006 4.51483a2.13164 2.13164 0 001.0587.67018h.00006a1.81176 1.81176 0 001.457-.321l8.43351-6.2946a1.822 1.822 0 00.31462-2.61761c-4.59077-5.5467-11.24387-8.58782-19.126-8.58782-11.63622 0-20.28637 7.04322-20.28637 16.15253 0 7.95634 3.55673 12.66055 12.88045 16.71188 2.411.85106 5.51515 2.11835 6.75676 2.48361 5.43231 1.59832 5.64052 4.31 4.74546 6.775s-4.507 3.52329-7.98694 2.15162c-2.42877-.95733-6.23239-4.632-6.49751-5.0003a1.81823 1.81823 0 00-.98959-.60146l-.02708-.00575a1.81181 1.81181 0 00-1.41016.28716l-8.4864 5.92218a1.8215 1.8215 0 00-.39893 2.60375c4.90789 6.3473 12.09921 9.70374 20.47524 9.70374 12.47776 0 21.3581-7.73134 21.3581-18.2192-.00003-6.88921-3.75144-11.78847-13.85582-16.0758zM463.18059 417.61189a28.55318 28.55318 0 1028.55318 28.55318 28.55317 28.55317 0 00-28.55318-28.55318zm0 41.2955a12.74233 12.74233 0 1112.74233-12.74232 12.75674 12.75674 0 01-12.74233 12.74232zM553.66293 440.5008c-1.67445-.7175-6.27831-2.62854-6.90928-2.83348-4.47632-1.45388-4.68823-3.58228-3.94422-5.63113s3.75824-2.95912 6.63834-1.78833c1.54614.62853 5.38256 4.10741 5.80007 4.51483a2.13158 2.13158 0 001.05869.67018h.00007a1.81176 1.81176 0 001.457-.321l8.43351-6.2946a1.822 1.822 0 00.31462-2.61761c-4.59078-5.5467-11.24388-8.58782-19.126-8.58782-11.63622 0-20.28638 7.04322-20.28638 16.15253 0 7.95634 3.55674 12.66055 12.88046 16.71188 2.411.85106 5.51514 2.11835 6.75676 2.48361 5.43231 1.59832 5.64052 4.31 4.74546 6.775s-4.507 3.52329-7.98694 2.15162c-2.42877-.95733-6.2324-4.632-6.49752-5.0003a1.81816 1.81816 0 00-.98958-.60146l-.02708-.00575a1.81183 1.81183 0 00-1.41017.28716l-8.48639 5.92218a1.82149 1.82149 0 00-.39893 2.60375c4.90789 6.3473 12.09921 9.70374 20.47524 9.70374 12.47776 0 21.3581-7.73134 21.3581-18.2192-.00004-6.88921-3.75145-11.78847-13.85583-16.0758z" />
									<g>
										<path
											d="M314.03931 37.9675a81.997 81.997 0 1081.997 81.997 81.997 81.997 0 00-81.997-81.997zm0 121.99554a39.99854 39.99854 0 1139.99854-39.99854 40.04382 40.04382 0 01-39.99854 39.99854zM561.29681 39.96738H449.30093a3.99986 3.99986 0 00-3.99986 3.99986v31.99883a3.99986 3.99986 0 003.99986 3.99985h75.99722v69.99683a9.99966 9.99966 0 01-9.99964 9.99963l.00013.00061h-29.999a40.05387 40.05387 0 01-39.83924-36.41349 3.96391 3.96391 0 00-3.96214-3.585h-32.079a3.97814 3.97814 0 00-4.00926 4.18262 80.00044 80.00044 0 0079.88966 75.81445h35.99868a3.99985 3.99985 0 003.99986-3.99985v-15.99975a19.99924 19.99924 0 0119.99958-19.99924l15.9991.00026a3.99979 3.99979 0 003.99986-3.99978v-111.996a3.99986 3.99986 0 00-3.99993-3.99983zM200.81493 79.96592a19.99924 19.99924 0 01-19.99921-20.03881l.03157-15.95987a3.99986 3.99986 0 00-3.99985-3.99986H44.85229a3.99985 3.99985 0 00-3.99985 3.99986v151.99444a3.99985 3.99985 0 003.99985 3.99985h31.99883a3.99985 3.99985 0 003.99986-3.99985V89.96063a9.99962 9.99962 0 019.99962-9.99962h9.99966a9.99962 9.99962 0 019.99967 9.99962v65.90054a3.99985 3.99985 0 003.99985 3.99986h31.99883a3.99986 3.99986 0 003.99986-3.99986V89.96063a9.99962 9.99962 0 019.99962-9.99962h9.95484a9.99962 9.99962 0 019.99962 9.9954l.04473 106.00523a3.99985 3.99985 0 003.99985 3.99985h31.99883a3.99985 3.99985 0 003.99986-3.99985V83.96577a3.99985 3.99985 0 00-3.99986-3.99985zM229.41247 219.98505h111.99591a3.99986 3.99986 0 013.99985 3.99986v15.97806a19.99925 19.99925 0 0019.97255 19.99923l16.02613.02139a3.99982 3.99982 0 013.99986 3.99985v111.99591a3.99985 3.99985 0 01-3.99986 3.99985h-31.99883a3.99985 3.99985 0 01-3.99985-3.99985V269.98263a9.99924 9.99924 0 00-9.99353-9.999h-60.01a9.99924 9.99924 0 00-9.99353 9.999v105.99672a3.99985 3.99985 0 01-3.99986 3.99985h-31.99884a3.99985 3.99985 0 01-3.99985-3.99985V223.98491a3.99985 3.99985 0 013.99985-3.99986zM196.84673 259.98363l-16.0778-.063a19.99924 19.99924 0 01-19.92088-19.99909V223.9849a3.99985 3.99985 0 00-3.99985-3.99985h-35.99869a79.99707 79.99707 0 00-79.99707 79.99708v75.99722a3.99985 3.99985 0 003.99985 3.99985h31.99883a3.99986 3.99986 0 003.99986-3.99985v-75.99722a39.99853 39.99853 0 0139.99853-39.9985h30.005a9.99924 9.99924 0 019.99353 9.999v19.99927a9.99966 9.99966 0 01-9.99963 9.99964l.00012.00061h-43.9985a3.99985 3.99985 0 00-3.99986 3.99985v31.99883a3.99985 3.99985 0 003.99986 3.99985h44.00449a9.99925 9.99925 0 019.99353 9.999v25.99966a3.99986 3.99986 0 003.99985 3.99985h31.99883a3.99986 3.99986 0 003.99986-3.99985v-111.9959a3.99982 3.99982 0 00-3.99986-3.99981zM484.17327 259.98484h77.12466a3.99955 3.99955 0 004-4v-31.99981a4.00014 4.00014 0 00-4-4h-77.05356c-34.26985 0-65.04069 22.00184-75.08665 54.76571-16.389 53.45474 21.6449 102.54247 71.96862 105.12745a3.97676 3.97676 0 004.172-4.01v-25.88381a10.00038 10.00038 0 019.994-10h20.01186a10.00039 10.00039 0 019.994 10v26.00085a4.00016 4.00016 0 004 4h31.99973a4.00016 4.00016 0 004-4v-72.0006a4.00014 4.00014 0 00-4-4H489.2983a4.00013 4.00013 0 00-4 4v21.12788a11.36812 11.36812 0 01-13.33392 11.21491 25.85591 25.85591 0 01-11.4248-4.96322c-12.94215-10.24649-19.44667-28.28485-12.26807-46.97047a38.38187 38.38187 0 0135.90179-24.40888" />
									</g>
								</g>
							</svg>
						</span>
						<div class="mojang-text">
							<div class="name">Global</div>
							<div class="desc"><span class="grey">Inconnu</span></div>
						</div>
						<div class="etat-text">
							<div class="online grey"></div>
						</div>
						<div class="dropdownstatus">

						</div>
						<a href="https://aventiumsoftworks.github.io/helios-status-page/"
							class="status icon-external-link">Voir la page de statut de Mojang</a>
					</div>
					<div class="body-title" id="wiki">Wiki</div>
					<div class="wiki">
						<div class="wiki-item challenger">
							<div class="item-image">

							</div>
							<div class="item-header">
								<div class="item-name">Grade Challenger</div>
								<div class="item-price">20.40€</div>
								<input type="button" class="item-info" value="+ D'INFOS" />
							</div>
						</div>
						<div class="wiki-item champion">
							<div class="item-image">

							</div>
							<div class="item-header">
								<div class="item-name">Grade Champion</div>
								<div class="item-price">24.40€</div>
								<input type="button" class="item-info" value="+ D'INFOS" />
							</div>
						</div>
						<div class="wiki-item legende">
							<div class="item-image">

							</div>
							<div class="item-header">
								<div class="item-name">Grade Légende</div>
								<div class="item-price">39.40€</div>
								<input type="button" class="item-info" value="+ D'INFOS" />
							</div>
						</div>
						<div class="wiki-link icon-external-link">Voir toutes nos offres et grades</div>
					</div>
					<div class="body-title">Voir plus de Gaïa</div>
					<div class="follow">
						<div class="follow-link icon-link" id="link"></div>
						<div class="follow-link icon-twitter" id="twitter"></div>
						<div class="follow-link icon-discord" id="discord"></div>
						<div class="follow-link icon-instagram" id="instagram"></div>
						<div class="follow-link icon-youtube" id="youtube"></div>
						<div class="follow-link icon-wiki" id="help"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="body-footer">
			<div class="footer">
				<img class="logo" width="50px" src="./assets/images/icon_g_black.png" />
				<div class="terms">
					<a href="https://games.valbion.com/launcher/e404" class="term" id="ToU">CONDITIONS GENERALES
						D'UTILISATION</a>
					<a href="https://games.valbion.com/launcher/e404" class="term" id="ToS">CONDITIONS GENERALES DE
						VENTE</a>
				</div>
			</div>
		</div>
	</div>
	<script src="./assets/js/scripts/panels/server.js"></script>
</div>