<div id="start" style="display: none;">
	<div class="panel-title">Démarrage</div>
	<p class="description">Configurer les options de démarrage du jeu.</p>
	
	<div class="setting-box">
		<div class="header">
			<div class="icon icon-monitor"></div>
			<div class="title">Résolution</div>
			<div class="description">Modifier la résolution de votre jeu au lancement.</div>
			<div class="expand icon-expand"></div>
		</div>
		<div class="content">
			<div class="information">
				Définissez une résolution personnalisée ou choisissez-en une dans la liste en fonction de la taille de
				votre écran.<br>
				Vous pouvez aussi faire démarrer Minecraft automatiquement en plein écran.
			</div>
			<div class="size">
				<input type="text" maxlength="4" class="size-text" cValue="GameWidth" id="width" />
				<div class="size-cross icon-close"></div>
				<input type="text" maxlength="4" class="size-text" cValue="GameHeight" id="height" />
				<div class="select-wrap icon-monitor">
					<select id="select" class="select">
						<option disabled selected value style="display: none">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pré-config</option>
						<optgroup label="Ratio 4:3">
							<option value="640 x 480">640 x 480</option>
							<option value="800 x 600">800 x 600</option>
							<option value="1024 x 768">1024 x 768</option>
							<option value="1280 x 960">1280 x 960</option>
							<option value="1280 x 1024">1280 x 1024</option>
						</optgroup>
						<optgroup label="Ratio 16:9">
							<option value="854 x 480">854 x 480</option>
							<option value="1280 x 720">1280 x 720</option>
							<option value="1360 x 768">1360 x 768</option>
							<option value="1600 x 900">1600 x 900</option>
							<option value="1920 x 1080">1920 x 1080</option>
						</optgroup>
						<optgroup label="Ratio 16:10">
							<option value="1280 x 768">1280 x 768</option>
							<option value="1280 x 800">1280 x 800</option>
							<option value="1440 x 900">1440 x 900</option>
							<option value="1600 x 1024">1600 x 1024</option>
							<option value="1680 x 1050">1680 x 1050</option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="fullscreen" style="margin-bottom: 0px"><input type="checkbox" class="checkbox" id="consoleOnLaunch">
				<label for="consoleOnLaunch">
					<div class="checkround"></div>
				</label>
				Démarrer Minecraft en plein écran
			</div>
		</div>
	</div>

	<div class="setting-box">
		<div class="header">
			<div class="icon icon-play"></div>
			<div class="title">Lancement détaché</div>
			<div class="description">Lancer le processus de jeu détaché du lanceur</div>
			<div class="expand icon-expand"></div>
		</div>
		<div class="content">
			<div class="information" style="margin-bottom: 0px">
				<input type="checkbox" class="checkbox" id="checkbox_open"><label for="checkbox_open">
					<div class="checkround"></div>
				</label><b>Garder le launcher ouvert :</b> Le launcher restera ouvert après le lancement du jeu.<br>
				<input type="checkbox" class="checkbox" id="checkbox_close"><label for="checkbox_close">
					<div class="checkround"></div>
				</label><b>Fermer le launcher :</b> Le Launcher tournera en arrière-plan, mais ne sera pas affiché sur
				votre écran. Si une erreur se produit ou que votre jeu se ferme, il se fermera complètement.
			</div>
		</div>
	</div>

	<div class="setting-box">
		<div class="header">
			<div class="icon icon-play"></div>
			<div class="title">Accessibilité</div>
			<div class="description">Connecter automatiquement le joueur au serveur après le lancement</div>
			<div class="expand icon-expand"></div>
		</div>
		<div class="content">
			<div class="information" style="margin-bottom: 0px">
				<input type="checkbox" class="checkbox" id="checkbox_open"><label for="checkbox_open">
					<div class="checkround"></div>
				</label><b>Garder le launcher ouvert :</b> Le launcher restera ouvert après le lancement du jeu.<br>
				<input type="checkbox" class="checkbox" id="checkbox_close"><label for="checkbox_close">
					<div class="checkround"></div>
				</label><b>Fermer le launcher :</b> Le Launcher tournera en arrière-plan, mais ne sera pas affiché sur
				votre écran. Si une erreur se produit ou que votre jeu se ferme, il se fermera complètement.
			</div>
		</div>
	</div>
	<script src="./assets/js/scripts/panels/start.js"></script>
</div>