<div id="update" style="display: none;">
	<div class="panel-title">Mise à jour</div>
	<p class="description">Téléchargez, installez et examinez les mises à jour du launcher.</p>
	<div class="update-box">
		<div class="content">
			<div class="icon icon-refresh"></div>
			<div class="main-text">
				Version <span id="actual-version">2.0.0</span>
			</div>
			<div class="secondary-text" id="actual-version-date">
				Version stable du 01 janvier 1970
			</div>
		</div>
	</div>
	<div class="update-box update" id="update-box">
		<div class="content">
			<div class="icon icon-check" id="update-icon"></div>
			<div class="main-text single-line" id="update-message">
				Vous avez la dernière version du launcher.
			</div>
		</div>
	</div>
	<div id="update-content">
		
	</div>
	<script src="./assets/js/scripts/panels/update.js"></script>
</div>