@font-face {
    font-family: 'Icons';
    src: url('../fonts/Icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after,
.select-wrap:after {
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
}

.icon-monitor:before {
    font-family: "Icons";
    content: "\e90a";
}

.icon-start:before {
    font-family: "Icons";
    content: "\e90f";
}

.icon-external-link:after {
    font-family: "Icons";
    content: "\e910";
}

.icon-close:before {
    font-family: "Icons";
    content: "\e90e";
}

.icon-minimize:before {
    font-family: "Icons";
    content: "\e90b";
}

.icon-maximize:before {
    font-family: "Icons";
    content: "\e90c";
}

.icon-restore-down:before {
    font-family: "Icons";
    content: "\e90d";
}

.icon-account:before {
    font-family: "Icons";
    content: "\e900";
}

.icon-account-add:before {
    font-family: "Icons";
    content: "\e901";
}

.icon-account-delete:before {
    font-family: "Icons";
    content: "\e902";
}

.icon-expand:before {
    font-family: "Icons";
    content: "\e903";
}

.icon-home:before {
    font-family: "Icons";
    content: "\e904";
}

.icon-java:before {
    font-family: "Icons";
    content: "\e905";
}

.icon-linux:before {
    font-family: "Icons";
    content: "\e906";
}

.icon-memory:before {
    font-family: "Icons";
    content: "\e907";
}

.icon-play:before {
    font-family: "Icons";
    content: "\e908";
}

.icon-settings:before {
    font-family: "Icons";
    content: "\e909";
}

.icon-twitter:before {
    font-family: "Brand";
    content: "\e900";
}

.icon-teamspeak:before {
    font-family: "Brand";
    content: "\e901";
}

.icon-discord:before {
    font-family: "Brand";
    content: "\e902";
}

.icon-instagram:before {
    font-family: "Brand";
    content: "\e903";
}

.icon-youtube:before {
    font-family: "Brand";
    content: "\e904";
}

.icon-paladium:before {
    font-family: "Brand";
    content: "\e905";
}