#panels {

    #account,
    #launcher,
    #start,
    #mods,
    #update {
        width: calc(100% - 50px);
        margin-left: 25px;
        overflow-x: hidden;
    }

    .panel-title {
        display: block;
        position: relative;
        margin-top: 15px;
        font: normal normal bold 30px/46px Poppins;
        color: var(--text);
        transition: color .2s;
        user-select: none;
    }

    .description {
        position: relative;
        margin: 0px 0px 15px 0px;
        font: normal normal normal 16px/25px Poppins;
        color: var(--text);
        transition: color .2s;
        user-select: none;
    }
}